<h1>Artworks#new</h1>
<p>Find me in app/views/artworks/new.html.erb</p>


<%= form_for(@artwork) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit %>
<% end %>
